$head-colors: #A2228D #525096 #0095D9 #8ED8F8 #A7CE3A #D2E388 #FFCA00 #ED7822;
$border-radius: 2px;

html, body {
  font-size: 12px;
}

.login {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .content {
    padding: 15px;

    .logo {
      margin: 0;
    }
  }
}

.btn[disabled] {
  cursor: default
}

.dropdown-menu > li > a {
  line-height: 1.5;
}

.dropdown > .dropdown-menu, .dropdown-toggle > .dropdown-menu, .btn-group > .dropdown-menu {
  margin-top: 5px;

  &:before, &:after {
    content: none ;
  }
}
.dropdown.dropdown-module > .dropdown-menu {
  white-space: normal;
  overflow-y: auto;
  max-height: 400px;
}

.b-right {
  padding-right: 0;
  text-align: right;
}
.b-left {
  padding-left: 0;
  text-align: left;
}
.b-popover {
  position: fixed;
}

.nav-tabs > li > a {
  color: #666;
  cursor: pointer;

  &:focus, &:hover {
    background-color: #f4f4f4;
  }
}
.modal-scroll {
  max-height: calc(100vh - 212px);
  overflow-y: auto;
}

.b-head-lines {
  top: 0;
  z-index: 10000;
  position: fixed;
  width: 100%;

  .b-head-line {
    width: 12.5%;
    height: 1px;
    float: left;
  }
}

@for $i from 1 through length($head-colors) {
  .b-head-line:nth-child(#{$i}) {
    background-color: nth($head-colors, $i);
  }
}

.b-toolbar {
  width: 100%;
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #E7E9F0;

  > [class^='col-']:first-child {
    padding-left: 0;
  }
  .btn {
    text-transform: uppercase;
  }
  .btn-fix {
    line-height: 1.42857143;
  }
}

b-grid-controller .toolbar-dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 5px;
}

.b-grid-summary {
  position: sticky;
  bottom: 0px;
  padding: 5px 0 10px 0;
  border-left: 4px solid #31708f;
}

code {
  color: #787888;
}

mark {
  background-color: rgba(227, 230, 252, 0.5);
  padding: 0 .2em;
  font-weight: 400;
  line-height: normal;
}

.popover {
  max-width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  > .popover-title {
    width: 100%;
  }
  > .popover-body {
    padding: 5px;
  }
}

.b-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &-large {
    @extend .b-content;
  }
}

.form-container {
  padding-top: 5px;
  width: 100%;
}

.sg {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  padding-top: 5px;

  .sg-header {
    border-bottom: 2px solid #ddd;
    font-weight: 600;
    width: 100%;
    display: table;

    .sg-row {
      border-bottom: 0;
    }
  }
  .sg-content {
    width: 100%;
    display: table;

    .sg-row {
      &:nth-child(odd) {
        background-color: #f5f5f6;
      }
      &:hover {
        background-color: #f0f0f1;
      }
      &.manual-hover {
        background-color: #e9e9f9;
      }
    }
  }
  .sg-row {
    width: 100%;
    display: table;
    vertical-align: inherit;
    border-color: inherit;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
  }
  .sg-sub-row {
    width: 100%;
    display: table;
    vertical-align: inherit;
    border-color: inherit;
    padding: 0;
    margin: 0;
  }
  .sg-cell {
    border-top: 0;
    padding: 4px 5px;
    line-height: 1.42857143;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    vertical-align: inherit;

    &-change {
      .sg-row {
        border: 0;
        margin: 0;
        padding: 0;
      }
      .sg-cell {
        margin: 0px;
        padding: 0;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        white-space: nowrap;
        height: 50px;
        line-height: 50px;
        background-color: #fdfdfd;
        border: 1px dotted #d0d0d0;
      }
      .sg-cell:hover {
        color: #fff;
        background-color: #337ab7 !important;
      }
      &-footerbar {
        margin-top: 20px;
      }
      &-fill {
        background-color: #e5ecfa !important;
        border: 1px solid #fdfdfd !important;
        cursor: move;
      }
      &-selected {
        background-color: #fdf1c1 !important;
        border: 1px solid #fdfdfd !important;
        cursor: move;
      }
      &-add {
        background-color: #f4f7f8 !important;
        border: 1px solid #fdfdfd !important;
        cursor: default;
      }
    }
  }
}

b-grid {
  display: none;
}

b-grid,
b-pg-grid {

  .sg {
    background-color: #fdfeff;
    position: relative;
    border: 1px solid #dfdff8;
    border-radius: 3px;
    padding: 0;
    display: flex;

    .edge-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px 8px;
      border-top: none;
      border-right: none;
      border-radius: 0 0 0 3px;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s;

      > i {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: transform 0.5s;
        transition: transform 0.5s;
      }
    }
    .sg-header,
    .sg-content {
      display: block;
    }

    .sg-row {
      border-bottom: 1px solid #dadaef;
      display: block;
      box-shadow: 0 0 0 #fff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      &:last-child {
        border-bottom: none;
      }
    }
    .sg-content .sg-row:hover {
      position: relative;
      background-color: white;
      -webkit-box-shadow: 0 0 10px -4px #071727 !important;
      box-shadow: 0 0 10px -4px #071727 !important;
    }
    .sg-sub-row {
      border-top: 1px solid rgba(230, 230, 240, 0.6);
      display: -webkit-flex;
      display: flex;

      &:first-child {
        border: 0;
      }
    }
    sliding {
      display: block;

      .sg-sub-row {
        border-top: 1px solid rgba(230, 230, 240, 0.6) !important;
      }
    }

    .sg-cell {
      padding: 7px;
      border-right: 1px solid rgba(230, 230, 240, 0.6);

      .checkbox {
        display: grid;
        left: 50%;
        margin-left: -8px;
      }

      &:hover {
        overflow-wrap: break-word;
      }
      &:last-child {
        border-right: 0;
      }
    }
    .sg-action .sg-cell {
      height: auto;
    }
    .sg-sub-row:not(.sg-action) .sg-cell {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .sg-header .sg-cell:hover {
      -webkit-box-shadow: 0 0 5px -3px #071727;
      box-shadow: 0 0 5px -3px #071727;
    }

  }
  .b-grid-header {
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

    &.sticky-header {
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
      -webkit-box-shadow: 0 10px 15px -15px #2A3542;
      box-shadow: 0 10px 15px -15px #2A3542;
      z-index: 100;

      @media (max-width: 991px) {
        top: 2px !important;
      }
    }
    &.sticky-header + .b-grid-content .dropdown-menu{
      z-index: 99;
    }
    &.sg {
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
    }
  }
  .b-grid-content.sg {
    border-top: 0;
    border-radius: 0 0 3px 3px;
  }
}

form.ng-submitted textarea.ng-invalid,
textarea.ng-invalid.ng-touched,
form.ng-submitted div.ui-select-container.ng-invalid .form-control,
form.ng-submitted input.ng-invalid,
input.ng-invalid.ng-touched {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

form.ng-submitted textarea.ng-invalid:focus,
textarea.ng-invalid.ng-touched:focus,
form.ng-submitted div.ui-select-container.ng-invalid .form-control:focus,
form.ng-submitted input.ng-invalid:focus,
input.ng-invalid.ng-touched:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.angular-ui-tree-handle {
  background:#eeeeee;
  border:1px solid #cccccc;
  color: #666666;
  line-height: 14px;

  &:hover {
    color: #333333;
    background: #d4d6d7;
    border-color: #dce2e8;
  }
}
.angular-ui-tree-placeholder {
  background: #fefefe;
  border: 2px dashed #efefef;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.b-grid-column-arrange {
  font-size: 0.8em;
  padding: 5px 5px;
  margin: 3px 0;
}

[ng-drag].dragging {
  position: relative;
  opacity: 0.8;
}

[ng-drop].drag-enter {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  z-index: auto;
}

.b-wd-content {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.63);
  -moz-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.63);
  box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.63);

  &.b-wd-header-enable>.b-wd-header {
    height: 35px;
  }
  &.b-wd-header-enable>.b-wd-body {
    height: calc(100% - 35px);
  }
}
.b-wd-animate>.b-wd-header, .b-wd-animate>.b-wd-body {
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  -ms-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
.b-wd-header {
  height: 0px;
  overflow: hidden;
  padding: 0px 15px 0px 15px !important;
  margin-bottom: 0px !important;
  min-height: 0px !important;

  .b-wd-content & .caption {
    padding: 0 !important;
    margin: 5px 0 5px 0 !important;
  }
  .b-wd-content & .tools {
    padding: 0 !important;
    margin: 8px 0 5px 0 !important;
  }
  .b-wd-content & .bold {
    font-weight: 600!important;
  }
}
.b-wd-body {
  overflow-y: hidden;
  height: 100%;
  padding: 0px 0px 0px 0px !important;

  .b-wd-content & .b-widget-content {
    height: 100%;
  }
}

.panel {
  background-color: rgba(255,255,255,0.3);
}

.block-ui-message {
  padding: 10px 30px;
  border-radius: 5px;
}
.block-ui-after {
  display: none;
}

/*Module dropdown*/
.dropdown-module {
  padding-left: 0 !important;

  .dropdown-toggle {
    color: #C6CFDA;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    line-height: 100%;

    p {
      margin: 0;
      display: inline-block;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;;

      > small {
        font-size: smaller;
      }
    }
  }
}

.text-center {
  margin: 0;
  padding: 5px;
  width: 100%;
}

/* Tree select */
.bts-dropdown {
  ul {
    list-style: none;
    padding: 0;

    li {
      border-top: 1px dashed #EEE;
      padding-left: 20px;

      label {
        position: relative;
        padding: 5px 20px;
        white-space: nowrap;

        input {
          position: absolute;
          left: 0px;
          top: 5px;
        }
      }
    }
  }
  > ul {
    max-height: 400px;
    overflow: auto;

    > li {
      border-top: 1px solid #EEE;

      &:first-child {
        border-top: 0;
      }
    }
  }
}
.bts-search {
  position: sticky;
  top: 0;
  z-index: inherit;
  background-color: #fff;

  > i {
    color: #3366aa;
    padding: 10px;
    position: absolute;
    top: 0;

    &.right {
      right: 0;
      cursor: pointer;
    }
  }
  > input {
    padding-left: 30px !important;
    padding-left: 30px !important;
  }
}

.bts-close {
  cursor: pointer;
  margin-left: 10px;
  transition: all .3s ease-in-out;
}
.modal .modal-dialog .modal-content {
  box-shadow: none;

  .modal-header .close:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
  }
}
@for $i from 1 through 9 {
  .bold-#{$i} {
    font-weight: #{$i}00 !important;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 80px auto;
  }
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
}

.modal.fade.show .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 1;
}

tdev {
  display: none;
  margin-left: 5px;
  position: relative;

  .translating & {
    display: inline-block;
  }
}

.no-before {
  &:before {
    content: "";
    display: none;
  }
}
.no-after {
  &:after {
    content: "";
    display: none;
  }
}

.form-control:not(:focus){
  border: 1px solid #ced4da;
}
.form-control,
.btn {
  font-family: inherit !important;
  border-radius: $border-radius;
}
.input-group-append > .btn {
  border-radius: 0;

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
.input-group-prepend > .btn {
  border-radius: 0;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}
.btn.btn-default,
.btn.btn-secondary {
  border-color: #ced4da;

  &.disabled, &:disabled {
    border-color: #ced4da;
  }
  &:hover:not(:disabled),
  &.active,
  &:active,
  &:focus,
  .show > &.dropdown-toggle {
    background-color: #dae0e5;
  }
}

.b-card {
  border: 1px solid #e7ecf1;
  border-radius: 2px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  cursor: default;

  img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    height: auto;
  }
  .b-card-overlay {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    .b-card-info {
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      padding: 0;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%) translateZ(0);
      -webkit-transform: translateY(-50%) translateZ(0);
      -ms-transform: translateY(-50%) translateZ(0);

      li {
        list-style: none;
        display: inline-block;
        margin: 0 3px;
      }
    }
  }
  &:hover {
    img {
      -ms-transform: scale(1.2) translateZ(0);
      -webkit-transform: scale(1.2) translateZ(0);
      transform: scale(1.2) translateZ(0);
    }
    .b-card-overlay {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);

      .b-card-info {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }
    }
  }
}

.b-hint {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 1px;

  .b-hint-body {
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #e0e4e8;
    padding: 15px;
    z-index: 99;
  }
}

// Custom checkbox and radios

// common styles
%elem {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
  margin-right: 12px;
}
%span_before {
  content: "";
  border: 1px solid #bdc3d4;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 16px;
  width: 16px;
}
%span_after {
  content: "";
  position: absolute;
  display: none;
  border: solid #7281a4;
}
// Hiding method for checkbox and radio
%unavail {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}

label.checkbox {
  @extend %elem;

  input[type=checkbox] {
    @extend %unavail;

    + span {
      &::before {
        @extend %span_before;

        border-radius: 2px;
        background: none;
      }
      &::after {
        @extend %span_after;

        border-width: 0 2px 2px 0 !important;
        top: 3px;
        left: 6px;
        width: 5px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
      }
    }

    &:checked + span::before,
    &:indeterminate + span::before {
      border: 1px solid #a8afc3
    }
    &:checked + span::after {
      display: block;
    }
    &:indeterminate + span::after {
      display: block;
      top: 4px;
      left: 7px;
      width: 2px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &:disabled + span::before,
    &:disabled + span::after {
      opacity: .6;
    }
  }
}

label.radio {
  @extend %elem;

  input[type=radio] {
    @extend %unavail;

    + span {
      &::before {
        @extend %span_before;

        border-radius: 50% !important;
      }
      &::after {
        @extend %span_after;

        border-radius: 100% !important;
        top: 6px;
        left: 5px;
        background: #7281a4;
        height: 6px;
        width: 6px;
      }
    }

    &:checked + span::before {
      border: 1px solid #a8afc3;
    }
    &:checked + span::after {
      display: block;
    }

    &:disabled + span::before,
    &:disabled + span::after {
      opacity: .6;
    }
  }
}
